@model IEnumerable<FPTBookS.Models.Product>
<style>
    .card {
        display: block;
        max-width: 230px;
        max-height: 95px;
        width: auto;
        height: auto;
    }
</style>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

@if (ViewBag.Success != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Success");
    };
    </script>
}

@if (ViewBag.LoginCart != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.LoginCart");
        window.location = "/Account/SignIn";
    };
    </script>
}

<div class="container">
    <h2 align="center" class="welcome"><b>Welcome to FPT Book</b></h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-slide" src="~/Contents/images/fpt3.png" alt="" style="width: 100%;height: 600px;">
            </div>

            <div class="item">
                <img class="img-slide" src="~/Contents/images/fpt1.jpg" alt="" style="width: 100%; height: 600px;">
            </div>
            <div class="item">
                <img class="img-slide" src="~//Contents/images/fpt2.jpg" alt="" style="width: 100%; height: 600px;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container">
    <br />
    <h2><u><b>All Book</b></u></h2>
</div>
<br />
<div class="container" style="padding-bottom: 50px">
    S
    <!--Display Book-->
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card1">
                <img src="~/Contents/images/@item.Imagas" class="imgcart" style="width: 180px; height: 300px;">
                <br />
                <div class="name" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                    <ins>@item.ProductName</ins>
                </div>
                <div class="price">
                    <ins>$@item.Price</ins>
                </div>
            </div>
            <br />
        </div>
    }
</div>